<section id="about" class="about section">
  <h1 class="section__title">Обо мне</h1>
  <div class="section__text-box row">
      <div class="about__message col-sm-10">
          <h2 class="text-box__title">Привет!</h2>
          <p>Меня зовут Дарья, и я <mark>HTML&#8209;верстальщик</mark>.</p>
          <p>Мне 25 лет, я проживаю в городе Подольск (МО).</p>
          <p>Мой опыт работы на текущий момент состовляет ~3 года. Но не смотря на небольшой опыт
              работы, у меня есть желание рости и развиваться в сторону Frontend-разработки.</p>
      </div>
      <div class="about__photo col-sm-2 pl-sm-4 ml-auto">
          <img src="images/photo.jpg" class="img-fluid rounded-circle">
      </div>
  </div>
</section>