<aside class="aside">
  <nav class="aside__nav nav nav-pills navbar-expand-lg navbar-light flex-column" id="navPages">
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse"
          data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
          <button class="btn btn-lg d-lg-none close">&#10006;</button>
          <a href="#about" class="nav__item nav-link">Обо мне</a>
          <a href="#education" class="nav__item nav-link">Образование</a>
          <a href="#skills" class="nav__item nav-link">Навыки</a>
          <a href="#experience" class="nav__item nav-link">Опыт</a>
          <a href="#works" class="nav__item nav-link">Работы</a>
          <a href="#contacts" class="nav__item nav-link">Контакты</a>
      </div>
  </nav>
  <a href="https://hh.ru/resume_converter/%D0%94%D0%BE%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%94%D0%B0%D1%80%D1%8C%D1%8F.pdf?hash=9d19dbaeff077d59950039ed1f6a6131623765&type=pdf&hhtmSource=resume_view&hhtmFrom=user_resumes_list"
      download="" class="btn mt-3 orange-btn d-none d-lg-block" title="Скачать">Резюме</a>
  <a href="https://hh.ru/resume_converter/%D0%94%D0%BE%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%94%D0%B0%D1%80%D1%8C%D1%8F.pdf?hash=9d19dbaeff077d59950039ed1f6a6131623765&type=pdf&hhtmSource=resume_view&hhtmFrom=user_resumes_list"
      download="" class="btn mb-3 orange-btn d-lg-none w-auto" title="Скачать резюме"><i
          class="fas fa-download"></i></a>
</aside>