<section id="contacts" class="contacts section">
  <h1 class="section__title">Контакты</h1>
  <div class="section__text-box">
    <ul class="list-unstyled text-right">
      <li>
        <a href="mailto:dollininadaria@gmail.com" class="h5 mb-2 d-inline-block text-reset">
          dollininadaria@gmail.com
          <i class="fas fa-envelope ml-2 text-secondary"></i>
        </a>
      </li>
      <li>
        <a href="tel:+79772654578" class="h5 mb-2 d-inline-block text-reset">
          8 (977) 265-45-78
          <i class="fas fa-phone ml-2 text-secondary"></i>
        </a>
      </li>
      <li>
        <a href="https://hh.ru/resume_converter/%D0%94%D0%BE%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B0%20%D0%94%D0%B0%D1%80%D1%8C%D1%8F.pdf?hash=9d19dbaeff077d59950039ed1f6a6131623765&amp;type=pdf&amp;hhtmSource=resume_view&amp;hhtmFrom=user_resumes_list"
          download="" class="h5 mb-2 d-inline-block text-reset">
          Резюме
          <i class="fas fa-download ml-2 text-secondary"></i>
        </a>
      </li>
      <li>
        <a href="https://daria_dolinina.gitlab.io/my-portfolio" class="h5 mb-2 d-inline-block text-reset">
          repository
          <i class="fab fa-gitlab ml-2 text-secondary"></i>
        </a>
      </li>
    </ul>
  </div>
</section>