<section id="education" class="education section">
  <h1 class="section__title">Образование</h1>
  <div class="section__text-box">
    <div class="text-right mb-5">
      <mark>
        <h2>МГУДТ</h2>
      </mark>
      <h4>Информационные системы и технологии</h4>
      <div>Бакалавр</div>
      <small class="text-black-50">2013 - 2017</small>
    </div>
    <div class="text-right">
      <mark>
        <h2>РГУ им. Косыгина</h2>
      </mark>
      <h4>Информационные системы и технологии</h4>
      <div>Магистратура</div>
      <small class="text-black-50">2017 - 2019</small>
    </div>
  </div>
</section>