<section id="experience" class="experience section">
  <h1 class="section__title">Опыт</h1>
  <div class="section__text-box">
      <div class="text-right mb-5">
          <mark>
              <h2>ТехноПрогресс</h2>
          </mark>
          <div>Верстальщик</div>
          <small class="text-black-50">Ноябрь 2019 - Июнь 2020</small>
      </div>
      <div class="text-right mb-5">
          <mark>
              <h2>Новый Диск</h2>
          </mark>
          <div>Верстальщик-программист</div>
          <small class="text-black-50">Апрель 2018 - Ноябрь 2019</small>
      </div>
      <div class="text-right">
          <mark>
              <h2>Новый Диск</h2>
          </mark>
          <div>Верстальщик</div>
          <small class="text-black-50">Сентябрь 2017 - Апрель 2018</small>
      </div>
  </div>
</section>