<section id="skills" class="skills section">
  <h1 class="section__title">Навыки</h1>
  <div class="section__text-box row">
    <div class="skills__card col-md-4 text-center">
      <div class="skills__percent">
        <canvas width="180" height="180" data-percent="90" data-color="FF6845" class="progress-bar-pie"></canvas>
        <div class="skills__number">
          <h2>HTML</h2>
          <h5>85<span>%</span></h5>
        </div>
      </div>
      <ul class="list-unstyled mt-3">
        <li>HTML 5</li>
        <li>Семантика</li>
        <li>Canvas</li>
        <li>Svg</li>
      </ul>
    </div>
    <div class="skills__card col-md-4 text-center">
      <div class="skills__percent">
        <canvas width="180" height="180" data-percent="85" data-color="FFBF34" class="progress-bar-pie"></canvas>
        <div class="skills__number">
          <h2>CSS</h2>
          <h5>90<span>%</span></h5>
        </div>
      </div>
      <ul class="list-unstyled mt-3">
        <li>CSS 3</li>
        <li>SASS</li>
        <li>Flex box</li>
        <li>Grid Layout</li>
        <li>Animation</li>
        <li>Bootstrap 4</li>
      </ul>
    </div>
    <div class="skills__card col-md-4 text-center">
      <div class="skills__percent">
        <canvas width="180" height="180" data-percent="60" data-color="6D48E5" class="progress-bar-pie"></canvas>
        <div class="skills__number">
          <h2>JS</h2>
          <h5>60<span>%</span></h5>
        </div>
      </div>
      <ul class="list-unstyled mt-3">
        <li>ECMAScript 6</li>
        <li>jQuery</li>
        <li>Gulp, Webpack</li>
        <li>Vue</li>
      </ul>
    </div>
  </div>
</section>