<section id="works" class="works section">
  <h1 class="section__title">Работы</h1>
  <div class="section__text-box d-flex flex-wrap">
    <a class="works__item shadow" data-toggle="modal" data-target="#modal1">
      <img src="images/courson.png ">
    </a>
    <a class="works__item shadow" data-toggle="modal" data-target="#modal2">
      <img src="images/creatives.jpg">
    </a>
    <a class="works__item shadow" data-toggle="modal" data-target="#modal3">
      <img src="images/travel-explore.png">
    </a>
    <a class="works__item shadow" data-toggle="modal" data-target="#modal4">
      <img src="images/vshowcase.png">
    </a>
    <a class="works__item shadow" data-toggle="modal" data-target="#modal5">
      <img src="images/cloud-notes.png">
    </a>
    <a class="works__item shadow" data-toggle="modal" data-target="#modal6">
      <img src="images/portfolio.png">
    </a>
  </div>
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Courson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="images/screen/courson-screen.png" class="img-fluid">
          <div class="mt-2">
            Стек:
            <ul>
              <li>HTML5</li>
              <li>Sass</li>
              <li>JavaScript</li>
              <li>Bootstrap</li>
              <li>Gulp</li>
              <li>Webpack</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer flex-column align-items-end">
          <a href="https://courson.ru" target="_blank">
            <i class="fas fa-window-restore"></i>
            courson.ru
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Creatives</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="images/screen/creatives-screen.png" class="img-fluid">
          <div class="mt-2">
            Стек:
            <ul>
              <li>HTML5</li>
              <li>Sass</li>
              <li>JavaScript</li>
              <li>Gulp</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer flex-column align-items-end">
          <a href="https://daria_dolinina.gitlab.io/creatives" target="_blank">
            <i class="fas fa-window-restore"></i>
            https://daria_dolinina.gitlab.io/creatives
          </a>
          <a href="https://gitlab.com/Daria_Dolinina/creatives" target="_blank">
            <i class="fab fa-gitlab"></i>
            repository
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Explore and Travel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="images/screen/explore-screen.png" class="img-fluid">
          <div class="mt-2">
            Стек:
            <ul>
              <li>HTML5</li>
              <li>Sass</li>
              <li>JavaScript</li>
              <li>Gulp</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer flex-column align-items-end">
          <a href="https://daria_dolinina.gitlab.io/explore-and-travel" target="_blank">
            <i class="fas fa-window-restore"></i>
            https://daria_dolinina.gitlab.io/explore-and-travel
          </a>
          <a href="https://gitlab.com/Daria_Dolinina/explore-and-travel" target="_blank">
            <i class="fab fa-gitlab"></i>
            repository
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Virtual Showcase</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="images/screen/vshowcase-screen.png" class="img-fluid">
          <div class="mt-2">
            Стек:
            <ul>
              <li>HTML5</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>Webpack</li>
              <li>Three.js</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer flex-column align-items-end">
          <a href="https://daria_dolinina.gitlab.io/virtual-showcase/" target="_blank">
            <i class="fas fa-window-restore"></i>
            https://daria_dolinina.gitlab.io/virtual-showcase/
          </a>
          <a href="https://gitlab.com/Daria_Dolinina/virtual-showcase" target="_blank">
            <i class="fab fa-gitlab"></i>
            repository
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cloud of Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="images/screen/cloud-notes-screen.png" class="img-fluid">
          <div class="mt-2">
            Стек:
            <ul>
              <li>Vue</li>
              <li>Vuex</li>
              <li>Vue Router</li>
              <li>HTML</li>
              <li>Sass</li>
              <li>JavaScript</li>
              <li>Materialize</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer flex-column align-items-end">
          <a href="https://daria_dolinina.gitlab.io/cloud-of-notes" target="_blank">
            <i class="fas fa-window-restore"></i>
            https://daria_dolinina.gitlab.io/cloud-of-notes
          </a>
          <a href="https://gitlab.com/Daria_Dolinina/cloud-of-notes" target="_blank">
            <i class="fab fa-gitlab"></i>
            repository
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Portfolio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="images/screen/portfolio-screen.png" class="img-fluid">
          <div class="mt-2">
            Стек:
            <ul>
              <li>HTML5</li>
              <li>Sass</li>
              <li>JavaScript</li>
              <li>Gulp</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer flex-column align-items-end">
          <a href="https://daria_dolinina.gitlab.io/my-portfolio" target="_blank">
            <i class="fas fa-window-restore"></i>
            https://daria_dolinina.gitlab.io/my-portfolio 
          </a>
          <a href="https://gitlab.com/Daria_Dolinina/my-portfolio" target="_blank">
            <i class="fab fa-gitlab"></i>
            repository
          </a>
        </div>
      </div>
    </div>
  </div>
</section>