$theme-colors: (
  "primary": #6d48e5,
  "secondary": #ff6845,
);

$fa-font-path: "../fonts/webfonts";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "fonts.scss";
@import "variables.scss";
@import "custom.scss";

* {
  font-size: 20px;
  font-family: "Exo2", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  height: 100vh;
}

body {
  background-color: $bg-content;
  overflow-y: hidden;
}

.section {
  transition: transform 0.3s;
}

.aside {
  position: fixed;
}
.navbar-collapse {
  position: relative;
  min-height: 320px;
  height: 70vh;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  &:before {
    content: "";
    width: 1px;
    height: 100%;
    background: $purple;
    position: absolute;
    left: 8px;
    z-index: -1;
  }
  .close {
    color: white;
    position: absolute;
    top: 8px;
    right: 12px;
  }
  .nav__item {
    display: flex;
    align-items: center;
    color: $purple;
    transition: 0.3s;
    &.active {
      font-size: 1.2rem;
      background: none;
      color: $purple;
      &:before {
        background: $purple;
      }
    }
    &:before {
      content: "";
      width: 8px;
      min-width: 8px;
      height: 8px;
      background: $bg-content;
      border: 2px solid #6d48e5;
      border-radius: 50%;
      margin-left: -0.8rem;
      margin-right: 0.4rem;
    }
  }
}
.orange-btn {
  background: $red;
  width: 150px;
  height: 2rem;
  color: white;
  border: 0;
  border-radius: 1rem;
  font-size: 0.8rem;
  transition: 0.3s;
  &:hover {
    background: $bg-content;
    box-shadow: inset 0 0 0px 3px $red;
    color: $red;
  }
}

.section {
  min-height: 100vh;
}

.section__title {
  font-size: 5.5rem;
  font-weight: 700;
  text-align: right;
  color: $title;
}

.section__text-box {
  margin: 3rem 0;
}

.text-box__title {
  margin-bottom: 2rem;
}

mark {
  position: relative;
  background: none;
  display: inline-block;
  padding: 0 0.1rem;
  z-index: 2;
  &:before {
    content: "";
    background: #ffbf34;
    width: calc(100% + 0.2rem);
    height: 48%;
    position: absolute;
    top: 0.75rem;
    left: -0.1rem;
    z-index: -1;
  }
}

/// sections ///

.about__message {
  position: relative;
  text-align: right;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background: $title;
  transform: translate(0, 50%);

  animation: animateMessage .3s ease-in-out 1.5s both;
  &:before {
    content: "";
    border: 1rem solid transparent;
    border-left: 1rem solid $title;
    position: absolute;
    right: -2rem;
  }
}
.about__photo {
    transform: translate(50%, 0);
    animation: animateMessage .3s ease-in-out 1s both;
}

.skills__card {
  position: relative;
}
.skills__percent {
  position: relative;
}
.skills__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.works__item {
  position: relative;
  width: calc(100% / 3 - 0.7rem);
  height: 0;
  overflow: hidden;
  padding-bottom: 32%;
  margin: 0.5rem 0;
  cursor: pointer;
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
  &:nth-of-type(3n-1) {
    margin: 0.5rem 1rem;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out 0.2s;
  }
}
.footer {
  background: $title;
}
@include media-breakpoint-down(lg) {
  * {
    font-size: 18px;
  }
  body {
    overflow-y: auto;
  }
}
@include media-breakpoint-down(md) {
  * {
    font-size: 16px;
  }
  .section {
    min-height: auto;
    margin: 5rem 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .aside {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    z-index: 3;
  }
  .navbar-collapse {
    min-height: inherit;
    height: inherit;
    z-index: 3;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $purple;
    &:before {
      content: none;
    }
    .nav__item {
      background: none;
      font-size: 24px;
      color: white;
      display: block;
      text-align: center;
      &:before {
        content: none;
      }
      &.active {
        font-size: 24px;
        color: $orange;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  * {
    font-size: 14px;
  }
  .section__title {
    font-size: 3.5rem;
  }
}
@include media-breakpoint-down(xs) {
  .about__message:before {
    bottom: -2rem;
    right: 2rem;
    border-left-color: transparent;
    border-top: 1rem solid $title;
    border-right: 1rem solid $title;
  }
  .about__photo {
    max-width: 100px;
    margin-top: 2rem;
  }
  .works__item {
    width: 300px;
    padding-bottom: 65%;
    margin: 0.5rem auto;
    &:nth-child(3n-1) {
      margin: 0.5rem auto;
    }
  }
}

@keyframes animateMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
